h1{
    text-align: center;
}

.sub-title{
    text-align: center;
}

.cp-body{
    background-color: "f5f5f5";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px 50px 75px 50px;
}

.nsnp-subtitle{
    text-align: center;
    font-style: italic;
}

.backlink{
    margin-top: 25px;
}

.main-link{
    font-size: small;
}

.img25 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.img50 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img75 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.imgcaption {
    text-align: center;
    font-size: small;
}

.column {
    float: left;
    width: 50%;
    /*margin-top:0px;*/
}

.row {
    width:100%;
    display: inline-flex;
    flex-wrap: wrap;
    /*margin-top:0px;*/
}

.cp-label {
    margin-bottom: 0px;
}

.body-text {
    font-family: sans-serif;
    font-size: medium;
    text-align: left;
}

.sound-text {
    font-family: sans-serif;
    font-size: large;
    text-align: left;
    vertical-align: top;
}

.sound-container {
  display: flex; /* Activates flexbox */
  justify-content:left; /* Distributes items evenly with space around them */
  align-items: center; /* Centers items vertically within the container */
  height: 80px;
}

.sound-item {
  padding: 5px;
  margin: 10px;
  font-size: 14px;
}